#title {
  background-color: #ff4c68;
  color: white;
}

body {
  margin: 0;
  font-family: 'Montserrat, sans-serif';
}

h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat";
  line-height: 1.5;
  font-weight: 900;
}

h3 {
  font-size: 1.4rem;
  font-family: "Montserrat";
  font-weight: 900;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.navlinks {
  margin-left: 60%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Montserrat";
  font-size: 30px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.3rem;
}

.title-buttons {
  padding: 5% 3% 5% 0;
}

.title-buttons button {
  margin-right: 1.5%;
}

.title-image {
  width: 15%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */

#features {
  position: relative;
  z-index: 1;
  padding: 7% 15%;
  background-color: white;
}

.feature-container {
  padding: 4.5%;
  text-align: center;
}

.features-p {
  color: #8f8f8f;
  font-size: 15px;
  padding: 0 6%;
}

.fas {
  color: #ef8172;
  margin-bottom: 1rem;
}

.fas:hover {
  color: #ff4c68;
}

/* Testimonials */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing */

#pricing {
  text-align: center;
  padding: 100px;
}

.col {
  padding: 3% 2%;
}
